body {
    display: flex;
    justify-content: center;
}
.div, #container {
    display: flex;
    max-width: 150px;
    flex-wrap: wrap;
}
.display {
    display: flex;
    justify-content: right;
    border: 1px solid black;
    width: 150px;
    height: 20px;
}
.num {
    display: flex;
    flex: 1;
    padding: 10px;
}
.clear {
    flex: 1;
}

.btnContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
}

.oppContainer {
    width: 50px;
}

button, .num {
    width: 50px;
    justify-content: center;
}